root: true

env:
  node: true
  es6: true

extends:
  - eslint:recommended
  - airbnb-base

parserOptions:
  sourceType: script

rules:
  arrow-parens: 0
  comma-dangle: 0
  class-methods-use-this: 0
  prefer-destructuring: 0
  strict: [2, "global"]
